<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button (click)="locationBack()">
        <ion-icon name="arrow-back" color="dark"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>
      {{'aboutPageTitle' | translate }}
    </ion-title>
    <ion-buttons slot="end">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-card >
    <img alt="moaviz" src="assets/images/moaviz.jpeg" />
    <ion-card-header>
      <ion-card-title> {{'onwerName' | translate }}</ion-card-title>
     
    </ion-card-header>
    <ion-card-content>
      <table>
        <tr>
          <th>{{'jobTitle' | translate }}</th>
          <td>Mobile Application Developer</td>
        </tr>
        <tr>
          <th>{{'education' | translate }}</th>
          <td>BS Computer Scince</td>
        </tr>
        <tr>
          <th>{{'roleDescription' | translate }}</th>
          <td>
            As an Ionic developer deeply committed to collaborative teamwork, I am driven by a passion for continual learning and professional growth. Embracing the dynamics of team engagement, I find immense value in exchanging knowledge, ideas, and best practices with my colleagues.
            
            My dedication to teamwork stems from a recognition of its transformative power in fostering innovation and refining existing processes. By actively participating in team discussions, sharing insights, and seeking feedback, I continuously expand my expertise while contributing meaningfully to collective project objectives.</td>
        </tr>
       
      </table>
    </ion-card-content>
  </ion-card>
</ion-content>
